<div class="columns">
  <div class="column is-10 is-offset-1">
    <div class="field">
      <div class="control">
        <%= form.text_field :q, class: 'input is-large', placeholder: 'find anything' %>
      </div>
    </div>
  </div>
</div>

<div class="columns is-spaced-between">
  <!-- Country filter -->
  <div class="column is-narrow">
    <div class="field">
      <div class="control">
        <label for="country" class="label">From</label>
        <div class="select">
          <%= form.select(
            :from,
            form.object.countries_options,
            include_blank: 'Any'
          ) %>
        </div>
      </div>
    </div>
  </div>

  <!-- Price filters -->
  <div class="column is-4">
    <div class="field">
      <label class="label">Price</label>

      <div class="control">
        <div class="field has-addons has-addons-centered"/>
          <div class="control">
            <div class="select">
              <%= form.select(:price_query, form.object.price_options) %>
            </div>
          </div>

          <div class="control">
            <%= form.number_field :price_value, class: 'input' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sorting filters -->
  <div class="column is-narrow">
    <div class="field">
      <div class="control">
        <label for="sort" class="label">Sort by</label>
        <div class="select">
          <%= form.select(:sort_by, form.object.sort_by_options) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column has-text-right">
    <button type="submit" class="button is-info">
      Search
    </button>
  </div>
</div>

