<div class="card has-ribbon">
  <div class="ribbon is-info">
    <%= product.price %>
  </div>

  <div class="card-content">
    <p class="is-7"><%= product.country_name %></p>

    <div class="media">
      <div class="media-content">
        <%= link_to product.title, product, rel: 'modal:ajax', class: 'title is-4' %>
      </div>
    </div>

    <div class="content">
      <%= product.description %>
      <br>
      <br>
      <%= render 'tags', tags: product.tags %>
    </div>
  </div>
</div>
