<section class="section">
  <div class="container">
    <%= form_with model: @search, url: '', method: :get do |f| %>
      <%= render 'form', form: f %>
    <% end %>
  </div>
</section>

<section class="section is-thin">
  <div class="container">
    <p class="has-text-grey-light is-size-6 has-text-centered">
      Found about <%= @search.total_results %>
    </p>
  </div>
</section>

<section class="section">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <% @search.products.each do |product| %>
        <div class="column is-3">
          <%= render product %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="section">
  <%== pagy_bulma_nav(@pagy) %>
</section>
