<div id="modal" class="modal is-active">
  <div class="modal-background"></div>

  <div class="modal-content">
    <%= yield %>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
